#gameinfo {
    width: 80%;
    height: 200px;
    background: aqua;
    margin: auto;
    padding: 10px;
}

#gameinfop1 {
    width: 50%;
    height: 200px;
    background: red;
    float: left;
}
#gameinfop2 {
    margin-left: 15%;
    height: 200px;
    background: white;
}